.fullPizza {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	&-page {
		padding: 24px 0;
	}

	&-btn {
		display: flex;
		justify-content: center;
		align-items: center;



		button {
			border: 1px solid #fe5f1e;

			margin-top: 20px;
			font-family: var(--font-family);
			font-weight: 600;
			font-size: 18px;
			text-align: center;
			color: #fff;

			border-radius: 18px;
			width: 600px;
			padding: 20px 0;

			background: #fe5f1e;
			cursor: pointer;

			&:hover {
				background: #fff;
				color: #fe5f1e;
				border: 1px solid #fe5f1e;
				transition: 0.3s all;

			}
		}

	}

	&-content {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}

	&-img {
		margin-left: 20px;

		width: 350px;
		height: 350px;
	}

	&-order {
		display: flex;
		gap: 130px;
	}

	&-title {
		font-family: var(--font-family);
		font-weight: 800;
		font-size: 20px;
		letter-spacing: 0.01em;
		padding-bottom: 20px;
		color: #000;
	}

	&-menu {
		width: 300px;

	}
}