.notFound {
	max-width: 550px;
	text-align: center;
	margin: 0 auto;
	padding: 185px 0;

	&-cont {
	background: white;

	}

	span {
		font-size: 67px;
	}

	h1 {
		padding-top: 5px;
	}

	p {
		padding-top: 5px;
		font-size: 22px;
	}
}

.notFound-btn {
	button {
		border: 1px solid #fe5f1e;

		margin-top: 40px;
		font-family: var(--font-family);
		font-weight: 600;
		font-size: 18px;
		text-align: center;
		color: #fff;

		border-radius: 18px;
		// width: 245px;
		padding: 20px 50px;

		background: #fe5f1e;
		cursor: pointer;

		&:hover {
			background: #fff;
			color: #fe5f1e;
			border: 1px solid #fe5f1e;
			transition: 0.3s all;

		}

		&:active {
			animation: shake 0.3s;
		}
	}
}